/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* Materialize Pre-Reqs */
 nav .brand-logo {
   color: #FFFFFF !important;
 }

 p {
   line-height: 2rem;
 }

 .button-collapse {
   color: rgba(34, 56, 73, 1);
 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }

 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
 }
 /* End Materialize Pre-Reqs */

/* Start Custom Styles */

html {
  line-height: 1.5;
  font-family: "Lato", "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(34, 56, 73, 1);
  background-color: rgba(34, 56, 73, 1) !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 94%;
}

nav {
  background-color: transparent !important;
  box-shadow: none;
}

hero {
  overflow:visible;
}

.parallax-container {
  overflow:hidden;
  min-height: 100vh;
  width: 100vw;
}
.parallax {
  min-height: 100%;
}

header {
  display: block;
  margin-top: 5%;
  font-size: 6em;
  font-weight: 700;
}

.subheader{
  display: block;
  margin-top:1.32em;
  margin-left: 1.2em;
  font-size: 0.65em;
  font-weight: 400;
}

/* Floating Action Menu */
.fixed-action-btn {
  position: fixed;
  right: 20px;
  top: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

.fixed-action-btn ul{
  text-align: right;
  position: fixed;
  right: 20px;
  top: 20px;
  margin-left: 10px;
  padding-top: 23px;
  margin-top: 0;
  z-index: 998;
}

.hidden {
  display:none;
}

.icon {
  font-size: 4em;
  color: rgba(34, 56, 73, 1) !important;
}
.footer-icons {
  display:flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.bottom-dwell {
  padding: 0;
  margin-bottom: 0;
}
